<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    
     <form method="POST" action="/blog">
         <h1>New Blog</h1>
         <h2>Title</h2>
         <input type="text" name="Title" placeholder="Title">
         <br>
         <br>
         <h2>Image URL</h2>
         <input type="text" name="Image" placeholder="imageurl">
         <br>
         <br>
         <h2>Your Blog Goes Here</h2>
         <textarea name="body" rows="20" cols="30"></textarea>
         <br>
         <br>
         <h2>Author</h2>
         <input type="text" name="Author" placeholder="Author">
         <br>
         <br>
         <button>Save</button>
     </form>

</body>
</html>